In [4]:
import pandas as pd
from pathlib import Path

In [5]:
train_path = Path("./ML Engineer/train.csv")
test_path = Path("./ML Engineer/test.csv")
submission_path = Path("./ML Engineer/sample_submission.csv")

In [6]:
train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)
submission_data = pd.read_csv(submission_path)

In [7]:
train_data.head()

,id_,source,email,class
0,5732aa7f-0c44-4a4f-877a-0488aed0d1f7,2,Subject: is the supply rebound beginning ? an ...,not_spam
1,4d3c392d-a4f0-465d-baa3-2c15f1560f07,2,Subject: email list - 100 million addresses $ ...,spam
2,d47e95c0-4909-41b8-aec8-a3fb953fa18f,4,Subject: alley dodecahedra suicide\nare you re...,spam
3,658a83eb-689c-480a-ae31-d622dc83f9f8,6,Subject: ibuyit project\ni wanted to share som...,not_spam
4,179d10b7-1c43-4e10-a0be-18d205b0fe24,4,Subject: cheap vicodin online - us fda pharmac...,spam

In [8]:
test_data.head()

,id_,source,email
0,b4c16282-2934-49c9-ae12-99ad8ca3c960,5,Subject: get me thru july newsletter\nthe get ...
1,cbe49c1c-b328-4716-9b78-9169c6111e80,4,Subject: looking for a good match to take out ...
2,0fa05eb2-f8cd-4cbf-b48e-bbc925b2baac,4,"Subject: fw : besides our special pricing , yo..."
3,b696569e-f7de-4771-9946-be5dd477b2f6,5,Subject: access to mary solmonson ' s e - mail...
4,d9bd17c0-28ec-43f2-b29a-2b9f25089a85,2,Subject: software should be easy to use !\nsev...

In [9]:
submission_data.head()

                                    id_     class
0  b4c16282-2934-49c9-ae12-99ad8ca3c960  not_spam
1  cbe49c1c-b328-4716-9b78-9169c6111e80  not_spam
2  0fa05eb2-f8cd-4cbf-b48e-bbc925b2baac  not_spam
3  b696569e-f7de-4771-9946-be5dd477b2f6  not_spam
4  d9bd17c0-28ec-43f2-b29a-2b9f25089a85  not_spam

## Explaratory Data Analysis

In [11]:
print(f"Train data shape: {train_data.shape}\n"\
      f"Test data shape: {test_data.shape}\n"\
      f"submission data shape: {submission_data.shape}")

Train data shape: (15000, 4)
Test data shape: (13544, 3)
submission data shape: (13544, 2)